.container{
    display: flex;
    flex-wrap: wrap;
    margin-top: -50px;
}

.logo{
    align-items: center;
    text-decoration: none;
    margin-bottom: -60px;  
    transition: transform 0.3s ease;   
}
.logo:hover {
    transform: scale(1.1); /* Aumenta el tamaño del logo al 110% cuando se coloca el cursor sobre él */
  }

.title{
    font-size: 30px;
    text-align: center;

}
.subTitle{
    font-size: 17px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 5px;
}

.content{
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 100px

}
.form{
    
    flex:1;
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.input, .textArea {
    margin-top: -10px;
    gap : 10px;
    padding: 20px;
    background-color: transparent;
    border-radius: 5px;
    border: none;
    outline: none;
    color: #bbb;
    border: 1px solid;
    border-radius: 1px;
    font-size: 12px;
    font-style:oblique; 
    font-family: 'Montserrat', sans-serif;

}
.button{ 
        font-family: 'Montserrat', sans-serif;
        background-color:black;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 0.9rem;
       
}
@media (min-width: 768px) {
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      padding-top: 2rem;
      padding-bottom: 2rem;
      background-color: white;
    }
  
    .title {
      font-size: 30px;
      margin-top: 40px;
      margin-bottom: 20px;
      text-align: center;
    }
  
    .subtitle {
      font-size: 18px;
      margin-bottom: 30px;
      text-align: center;
    }
  
    .content {
      display: flex;
      align-items: center;
      gap: 100px;
    }
  
 
  
    .form {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  
    .input,
    .textArea {
      margin-top: -10px;
      gap: 10px;
      padding: 20px;
      background-color: transparent;
      border: none;
      outline: none;
      color: #bbb;
      border: 1px solid;
      border-radius: 1px;
      font-size: 15px;
      font-family: 'Courier New', Courier, monospace;
      font-style: oblique;
    }
  
    /* button[type='submit'] {
      padding: 10px 20px;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
      font-family: 'Courier New', Courier, monospace;
    } */
  }