.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  width: calc(100vw - 10px);
  
  background-color: white;
}

.logo{
  object-fit: cover;
  transition: 0.3s ease;   
}
.logo:hover {
  transform: scale(1.1); /* Aumenta el tamaño del logo al 110% cuando se coloca el cursor sobre él */
}

.title {
  font-size: 24px;
  text-align: center;
}

.subTitle{
  font-size: 17px;
  font-weight: 300;
  text-align: center;
  
}
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  width: 70%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
}

.input,
.textArea {
  gap: 10px;
  padding: 20px;
  background-color: transparent;
  border: none;
  outline: none;
  color: #bbb;
  border: 1px solid;
  border-radius: 1px;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;

}


.button{ 
        font-family: 'Montserrat', sans-serif;
        background-color:black;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 0.9rem;
       
}
@media (max-width: 900px) {
  .title {
    font-size: 20px;
  }

  .subTitle {
    font-size: 16px;
  }

  .content {
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 20px;
  }
}