
.card {
  width: 30%;
  padding: 10px;
  /* border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  text-align: center;
  height: 400px;
}

  .img {
    object-fit: cover;
    width: 100%;
    height: 200px;
  }
  
  .name{
    margin: 10px 0;
    font-size: 1.2rem;
  }
  
  .year {
    margin: 5px 0;
    font-size: 0.8rem;
  }
  
  .price {
    margin: 10px 0;
    font-size: 1rem;
  }
   .desc {
    margin: 5px 0;
    font-size: 0.8rem;
  }
  
  .button {
    font-family: 'Montserrat', sans-serif;
    background-color:black;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 0.9rem;
    margin-top: 10px;
    
  }

  @media (max-width: 900px) {
    .card {
      width: 90%;
    }
  }
  