
.container {
    /* display: flex; */
    width: 100vw;
    overflow: hidden;
    position: relative;
    z-index: 1;
 
  }
  
  .slider {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
  
  }
  
  .sliderWrapper {
    display: flex;
    width: 300%;
    transition: transform 0.5s ease-in-out;
   

  }
  
  .sliderItem {
    min-width: 100%;
    height: 600px;
    position:relative;
  }
  .image {
    align-items: center;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Esto asegura que la imagen se ajuste al contenedor sin distorsión */
  }

  .contactButton {
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Agrega sombra al botón */
    font-size: 17px; /* Aumenta el tamaño de la fuente */
    /* border: 0.2px solid white; */
    position: absolute;
    cursor: pointer;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
  
  }