.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 20px;
  }
  
  .right {
    flex: 2;
    min-width: 250px; /* Ajusta según tus necesidades */
    height: 500px;
  }
  .left{
    flex: 3;
    min-width: 250px; 
    height: 500px;
    margin-top: 20px;
  }
  
  .item {
    margin-bottom: 20px;
  }
  
  .img {
    width: 100%; 
    height: 550px;
    max-width: 600px; 
    max-height: 400px; 
    display: block; 
    margin: auto; 
    margin-left: 60px;
    object-fit: conver
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex:1;
    /* margin-left: 15px; */
  }

    .imgContainer{
    position: relative;
    height: 100%;
  }
  
  .logo {
   
  }
  .thumbnailContainer {
    display: flex;
    margin-top: 10px;
    margin-left: 50px;
  }

  .thumbnail {
    width: 60px;
    height: 60px;
    margin-right: 5px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  .name, .year, .km, .desc, .price {
    margin-bottom: 15px;
    /* text-align:center */
  }
  .price {
    font-size: 30px;
  }
  
  .button, .buttonBack {
    padding: 10px;
   
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  .button {
        font-family: 'Montserrat', sans-serif;
        background-color:black;
        color: white;
        border: none;
  }
  
  .buttonBack {
    background-color: #555555; /* Dark Grey */
    color: white;
  }
  
  @media (max-width: 600px) {
    .container {
      flex-direction: column;
      align-items: center;
    }

    .content, .left, .right {
        margin-left: 0; /* Remueve el margen cuando la pantalla es pequeña */
        align-items: center; /* Asegúrate de que el contenido esté centrado en pantallas pequeñas */
      }
    
  }
  