.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 20%;
}

.sidenav {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.link {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 48px;
    gap: 20px;
    padding: 10px;
    border-radius: 15px;
}

.selected {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 48px;
    gap: 20px;
    padding: 10px;
    border-radius: 15px;
    background-color: skyblue;
    color: blue;
}

.link:hover {
    background-color: skyblue;
    transition: 0.5s ease;
}

.logo{
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
    text-decoration: none;
    
}
.exit_link {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 48px;
    gap: 20px;
    padding: 10px;
    border-radius: 15px;
}
.exit_link:hover {
    background-color: skyblue;
    transition: 0.5s ease;
}

@media screen and (max-width: 768px) {
    .container {
      min-width: 130px;
    }
  
    .link {
      font-size: 12px;
    }

    .selected {
    font-size: 12px;
    }

    .exit_link {
    font-size: 12px;
    }
  }