.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 75%;
    height: 90vh;
    gap: 15px;
    color: black;
 
}
  
.images_section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;

}


.image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 210px;
    height: 210px;
}
.image img {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.info_section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}