.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    width: 100%;
    height: 70vh;
    padding: 20px;
}

.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    
    padding-bottom: 3rem;

    /* background: linear-gradient(transparent, rgb(36, 36, 36, 1)60%);
    background-color: rgba(70, 70, 70, 0.2);
    backdrop-filter: blur(2px); */

    color: black;
}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    height: 50px;
    width: 90%;
    box-sizing: border-box;

    margin: 10px;

    text-align: left;
    
    background-color: rgb(217, 213, 198, 0.5);
    
    transition: 0.3s ease-out;
}

/* .item h4 {
    width: 50%;
    
} */

.item img {
    width: 100px;
    height: 100px;
    padding: 10px 10px;
    border-radius: 25px;
    object-fit: cover;
}

.item:hover {
    box-shadow: 1px 1px 20px 0px rgb(180, 180, 180, 0.5);
    
}
