.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh; 
  }

.cardPair {
    display: flex;
    /* justify-content: space-between; */
    max-width: 1000px;
    width: 70%; 
  }

  .card:hover {
    opacity: 0.7; 
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
  }


  .card {
    position: relative;
    border: 1px solid #ccc;
    padding: 20px;
    width: 48%;
    height: 500px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 10px;
    background-image: url('/card.jpg');
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 81%);
    cursor: pointer;
    transition: opacity 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }
  

  .title {
    position: absolute;
    top: 20px;
    left: 130px;
    color: white;
    font-size: 20px;
    z-index: 2;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)); 
    padding: 10px;
    
  } 


    /* .card {
    position: relative;
    border: 1px solid #ccc;
    padding: 20px;
    width: 48%;
    height: 500px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 10px;
    background-image: url('/card.jpg'); 
    background-size: cover; 
    background-position: center; 
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 81%);
    cursor: pointer; 
    transition: opacity 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
   
  } */

  /* .title{
    position: absolute; 
    bottom: 20px; 
    left: 20px; 
    color: black;
    font-size: 20px; 
    z-index: 2; 
    background-color: rgba(0, 0, 0, 0.5); 
  padding: 10px; 
  border-radius: 5px; 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); 
  
  }
   */

