/* @font-face {
    font-family: 'FiraMono';
    src: url('../../../public/Font/FiraMono-Bold.ttf');
}


.title{
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 90px;
    text-align: center;
}
.form{
    flex:1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input {
    margin-top: -10px;
    gap : 10px;
    padding: 20px;
    background-color: transparent;
    border: none;
    outline: none;
    color: #bbb;
    border: 1px solid;
    
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-style:oblique;

}

.btn{
    font-family: 'FiraMono';
    font-size: 20px;
    
    display: flex;
    align-items: center;
    text-align: center;
    background-color: rgba(212, 176, 210, 0.8);
    padding: 10px;
    border-radius: 2px;
    border-color:rgba(212, 176, 210, 0.5);
    gap: 20px;
} */

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 80vh;
    width: 100%;
    gap: 25px;
    background-color: #f0f0f0; /* Color de fondo */
    border: 1px solid #ccc; /* Borde */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Sombra */
    padding: 20px;
    border-radius: 20px;
  }

.form{
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 80%;
}
.form :nth-child(5) {
  height: 80px;
  border-radius: 10px;
}

  .title {
    color: #333; /* Color del texto */
  }

  .input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
  }
  .input::placeholder{
    position: absolute;
    top: 10px;
  }

  .image_imput {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .btn {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
  }

  @media (max-width: 768px) {
    .container {
      padding: 10px;
    }
  }