/* @font-face {
    font-family: 'FiraMono';
    src: url('../../../public/Font/FiraMono-Bold.ttf');
}


.title{
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 90px;
    text-align: center;
}
.form{
    flex:1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input {
    margin-top: -10px;
    gap : 10px;
    padding: 20px;
    background-color: transparent;
    border: none;
    outline: none;
    color: #bbb;
    border: 1px solid;
    
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-style:oblique;

}

.btn{
    font-family: 'FiraMono';
    font-size: 20px;
    
    display: flex;
    align-items: center;
    text-align: center;
    background-color: rgba(212, 176, 210, 0.8);
    padding: 10px;
    border-radius: 2px;
    border-color:rgba(212, 176, 210, 0.5);
    gap: 20px;
} */

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 80vh;
    width: 100%;
    gap: 20px;
    background-color: #f0f0f0; /* Color de fondo */
    border: 1px solid #ccc; /* Borde */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Sombra */
    padding: 30px;
    border-radius: 20px;
  }

.form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 80%;
}
.form :nth-child(6) {
  height: 80px;
  border-radius: 10px;
}

  .title {
    color: #333; /* Color del texto */
  }

  .input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
    outline: none;
  }
  .input::placeholder{
    position: absolute;
    top: 10px;
  }

  .input[type="file"]::file-selector-button {
    padding: 5px;
    border: thin solid grey;
    border-radius: 5px;
    margin-right: 20px;
  }

  .image_input {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .upload_section {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
  }

  .status {
    display: flex;
    flex-direction: column;
    height: 30px;
    width: 100%;
    font-size: 12px;
    gap: 5px;
  }
  .hidden {
    display: flex;
    flex-direction: column;
    height: 30px;
    width: 100%;
    font-size: 12px;
    visibility: hidden;
  }

  .btn {
    display: flex; 
    gap: 10px;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.5s ease;
  }

  .upload_btn {
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 120px;
    background-color: black;
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.5s ease;
  }

  .disabled_btn {
    display: flex; 
    gap: 10px;
    width: 120px;
    align-items: center;
    justify-content: center;
    background-color: lightslategray;
    color: skyblue;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
  }

  .upload_btn div {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    width: 90px;
  }
  .upload_btn p {
    margin: auto 0px;
  }

  .btn:hover {
    background-color: darkblue;
  }

  @media (max-width: 768px) {
    .container {
      padding: 10px;
    }
  }