.container {
    position: fixed;
    left: 4px; /* Ajusta la posición izquierda según tus preferencias */
    top: 50%; /* Centra verticalmente en la pantalla */
    transform: translateY(-50%);
    gap:5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(189, 184, 184, 0.7);
    padding: 15px;
    z-index: 2;
  }
  
    .icons:hover {
        transform: scale(1.1) ; 
        transition: transform 0.3s ease;/* Aplica un aumento del 10% al pasar el cursor por encima */
      }
  
  