@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&family=Sora:wght@200;400;600&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: 'Montserrat', sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
  margin:0;
  padding:0

}


a {
  color: inherit;
  text-decoration: none;
}


.container{
  max-width: 1366px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between
  
  }

