.container{
  display: flex;
  align-items: center;
  gap: 100px;
  width: 90%;

}
.item{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.title{
  margin-top: 35px;
  font-size: 50px;
 
}
