.container{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: black

}

.logo{
flex-direction: column;
align-items: center;
margin-left: 30px;
text-decoration: none;

}

.links{
    display: flex;
    align-items: center;
    gap: 40px;
    margin-right: 40px;
    color: white;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.underline {
    width: 0;
    height: 2px;
    margin: 2px;
    background-color: transparent;
}

.item:hover .underline {
    background-color: white;
    width: 100%;
    transition: 0.5s ease; 
}


/* .item:hover { */
    /* transform: scale(1.2); */ /* Escala al 110% del tamaño original al pasar el mouse por encima */
    /* transition: 0.3s ease; */ /* Transición suave de la transformación */
/* } */


/* .logout{
    padding: 5px;
    border: none;
    background-color:#53c28b;
    color: white;
    cursor: pointer;
    border-radius: 3px;
} */