.container{
    margin-top: 50px;
    padding: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white
    
   
}
.info{
     /* flex:1; */
     display: flex;
     flex-direction:column;
     gap:14px;
}

.logo{
    display:flex;
    align-items: center;
    /* gap:10px; */
    margin-left: 20px;
   
}
.image{
    border-radius: 50%;
    margin-top: 30px;
    margin-left: 30px;

}
.logoText{
    font-size: 12px;
    font-weight: 300;
    margin-left: 20px;

}
.desc{
    font-weight: 300;
}
.links{
    /* flex:4; */
    display: flex;
    justify-content: flex-end;
    gap:100px;
}
.icons{
    margin-top:10px;
    display:flex;
    gap:10px;
    border-radius: 50%;
    background-color: white;

}
.list{
    display: flex;
    flex-direction:column;
    gap: 10px;
    font-weight: 400;
   
}

.iconlist{
    display: flex;
    flex-direction:row;
    gap: 20px;
    margin-right: 30px;
   
}
.listTitle{
    font-weight: 600;
}


@media screen and (max-width: 1024px) {
    .links {
      gap: 50px;
    }
  }
  @media screen and (max-width: 768px) {
    .container {
      flex-direction: column;
      gap: 50px;
    }
  
    .links {
      width: 100%;
      justify-content: space-between;
    }
  }
  @media screen and (max-width: 640px) {
    .links {
      font-size: 12px;
    }
  }